
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.slide-16-9-1-guV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 {
  width: 100%;
  height: 75.9rem;
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .hero-section-bg-bYb {
  width: 192rem;
  height: 66.1rem;
  position: absolute;
  left: 0;
  top: 9.8rem;
  background-color: #f5f7fa;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .navigation-bar-Vdy {
  width: 192rem;
  height: 10.9rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 1rem 1.55rem rgba(0, 0, 0, 0.2800000012);
  background-color: #2194f3;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .goo-businesses-1-zqd {
  width: 16.4rem;
  height: 8.2rem;
  position: absolute;
  left: 9.6rem;
  top: 1.6rem;
  object-fit: cover;
  vertical-align: top;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns {
  width: 175.6751rem;
  height: 59.5rem;
  position: absolute;
  left: 9.6rem;
  top: 14.7rem;
  display: flex;
  align-items: center;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM {
  margin: 8.8rem 28.5rem 12.6rem 0rem;
  height: calc(100% - 21.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ {
  margin-bottom: 1.8rem;
  max-width: 51.1rem;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #000000;
  font-family: Clash Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-0 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #4d4d4d;
  font-family: Clash Display, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-1 {
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-2 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #2194f3;
  font-family: Clash Display, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-3 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #ffea00;
  font-family: Clash Display, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-4 {
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-5 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #4d4d4d;
  font-family: Clash Display, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-6 {
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .become-a-skilled-web-developer-and-get-hired-8KZ .become-a-skilled-web-developer-and-get-hired-8KZ-sub-7 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2560395109;
  color: #de3163;
  font-family: Clash Display, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .auto-group-mlgf-QuM .learn-web-development-and-secure-a-job-within-our-growing-team-YT9 {
  max-width: 72.6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2285714149;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-dvvw-v39 .cover-section-6Ns .person-1-2t7 {
  width: 74.5751rem;
  height: 59.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK {
  box-sizing: border-box;
  padding: 7.3rem 9.6rem 11.4rem 9.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf {
  margin: 0rem 0.931rem 15.207rem 0rem;
  width: calc(100% - 0.9309rem);
  height: 121.8927rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y {
  margin-right: 22.6691rem;
  width: 99.8rem;
  height: 100%;
  position: relative;
  border: solid 0.0857rem #4d4d4d;
  box-sizing: border-box;
  box-shadow: 0.6854rem 0.3427rem 1.7134rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.7134rem;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .enroll-now-Vv7 {
  width: 22.2rem;
  height: 5.3rem;
  position: absolute;
  left: 35.5rem;
  top: 3.7062rem;
  font-size: 4.2836rem;
  font-weight: 500;
  line-height: 1.2285713726;
  text-decoration-line: underline;
  color: #2194f3;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .your-name--yqH {
  width: 18.1rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 12.5187rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .mobile-number--thM {
  width: 24.3rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 25.0374rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .email-address--o3d {
  width: 22.6rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 37.5561rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .your-age--Jm5 {
  width: 14.9rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 50.0748rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .choose-your-gender--2SB {
  width: 32.4rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 62.5935rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .which-course-are-you-interested-in--Xtj {
  width: 53.3rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 75.1122rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .level-of-education--3MH {
  width: 28.4rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 87.631rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .enter-referral-code-optional--m2P {
  width: 46.6rem;
  height: 3.7rem;
  position: absolute;
  left: 3.8rem;
  top: 100.1497rem;
  font-size: 2.9985rem;
  font-weight: 400;
  line-height: 1.2285714704;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-1-GE3 {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 16.8014rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-2-AqD {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 29.3201rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-3-V6o {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 41.8388rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-4-b9q {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 54.3575rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-5-sd9 {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 66.8763rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-6-P5h {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 79.395rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-7-tYF {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 91.9137rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .rectangle-8-ofD {
  width: 89.3rem;
  height: 4.8592rem;
  position: absolute;
  left: 3.8rem;
  top: 104.4324rem;
  border: solid 0.0857rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .form-Q7y .auto-group-jc6b-KdZ {
  width: 26.4rem;
  height: 5.7652rem;
  position: absolute;
  left: 66.7rem;
  top: 112.6684rem;
  font-size: 2.9985rem;
  font-weight: 600;
  line-height: 1.2285714704;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  background-color: #2194f3;
  border-radius: 1.2851rem;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 {
  margin: 21.4rem 0rem 28.334rem 0rem;
  width: 49.4rem;
  height: calc(100% - 49.7337rem);
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nidm-cm5 {
  margin: 0rem 14.155rem 7.857rem 0rem;
  width: calc(100% - 14.1552rem);
  height: 7.776rem;
  display: flex;
  align-items: center;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nidm-cm5 .checked-laptop-XNF {
  margin-right: 4.2546rem;
  width: 8.6902rem;
  height: 7.776rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nidm-cm5 .auto-group-ueco-4NB {
  margin: 0.891rem 0rem 0.788rem 0rem;
  width: 22.3rem;
  height: calc(100% - 1.679rem);
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nidm-cm5 .auto-group-ueco-4NB .feb-2024-Vbu {
  width: 14.9rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 2.997rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2285713959;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nidm-cm5 .auto-group-ueco-4NB .batch-starting-CFR {
  width: 22.3rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2285714467;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-cbmq-iDm {
  margin: 0rem 22.855rem 7.857rem 0rem;
  width: calc(100% - 22.8552rem);
  height: 7.776rem;
  display: flex;
  align-items: center;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-cbmq-iDm .timesheet-DgK {
  margin-right: 4.2546rem;
  width: 8.6902rem;
  height: 7.776rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-cbmq-iDm .auto-group-pkd9-MXd {
  margin: 0.891rem 0rem 0.788rem 0rem;
  width: 13.6rem;
  height: calc(100% - 1.679rem);
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-cbmq-iDm .auto-group-pkd9-MXd .months-g47 {
  width: 11.5rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 2.997rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2285713959;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-cbmq-iDm .auto-group-pkd9-MXd .duration-zab {
  width: 13.6rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2285714467;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-defr-Woq {
  margin: 0rem 18.055rem 7.754rem 0rem;
  width: calc(100% - 18.0552rem);
  display: flex;
  align-items: flex-end;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-defr-Woq .money-bag-rupee-SxP {
  margin: 0rem 4.255rem 0.103rem 0rem;
  width: 8.6902rem;
  height: 7.776rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-defr-Woq .auto-group-hzkh-Nb9 {
  width: 18.4rem;
  height: 6.097rem;
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-defr-Woq .auto-group-hzkh-Nb9 .rs299-month-iQ7 {
  width: 18.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 2.997rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2285713959;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-defr-Woq .auto-group-hzkh-Nb9 .price-S5D {
  width: 7.8rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2285714467;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nlp9-MT5 {
  margin: 0rem 22.255rem 5.184rem 0rem;
  width: calc(100% - 22.2552rem);
  display: flex;
  align-items: flex-end;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nlp9-MT5 .people-69m {
  margin-right: 4.2546rem;
  width: 8.6902rem;
  height: 7.776rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nlp9-MT5 .auto-group-wtqf-pbZ {
  margin-bottom: 0.059rem;
  width: 14.2rem;
  height: 6.097rem;
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nlp9-MT5 .auto-group-wtqf-pbZ .th-pass-MrP {
  width: 11.5rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 2.997rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2285713959;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .auto-group-nlp9-MT5 .auto-group-wtqf-pbZ .eligibility-HV9 {
  width: 14.2rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2285714467;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-eqnx-gxf .course-details-hu1 .note-our-courses-are-free-to-enroll-but-a-nominal-service-charge-applies-for-just-299-per-month-youll-gain-access-to-our-comprehensive-curriculum-projects-and-resources-you-can-cancel-the-course-at-anytime-aj9 {
  max-width: 49.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2285714149;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .rectangle-10-zH5 {
  margin-bottom: 11rem;
  width: 100%;
  height: 0.3rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4799999893);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 {
  margin-right: 0.4rem;
  width: calc(100% - 0.4rem);
  height: 61.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .rectangle-11-2Dm {
  margin-right: 14.6rem;
  width: 85.2rem;
  height: 61.1rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-bg-mLj.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .auto-group-hbyh-81u {
  margin: 4.9rem 0rem 2.3rem 0rem;
  height: calc(100% - 7.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .auto-group-hbyh-81u .employment-opportunity-rTh {
  margin-bottom: 3.4rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2285713959;
  text-decoration-line: underline;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .auto-group-hbyh-81u .employment-opportunity-rTh .employment-opportunity-rTh-sub-0 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2285713959;
  text-decoration-line: underline;
  color: #2194f3;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .auto-group-hbyh-81u .employment-opportunity-rTh .employment-opportunity-rTh-sub-1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2285713959;
  text-decoration-line: underline;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-fcmu-AzK .auto-group-n5v9-HX5 .auto-group-hbyh-81u .successful-completion-of-our-courses-opens-the-door-to-exciting-career-opportunities-within-our-company-our-top-performers-have-the-chance-to-join-our-team-and-work-on-cutting-edge-projects-alongside-seasoned-professionals-at-goo-business-we-value-talent-and-dedication-thats-why-we-prioritize-hiring-from-within-our-pool-of-course-graduates-if-you-perform-well-and-demonstrate-your-skills-you-could-find-yourself-with-a-rewarding-career-right-here-with-us-i8X {
  max-width: 72.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2285714467;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ilr5-STq {
  width: 100%;
  height: 38.6rem;
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD {
  width: 192.2rem;
  height: 38.5rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .rectangle-13-Wib {
  width: 192.2rem;
  height: 35.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f5f7fa;
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .at-goo-business-were-on-a-mission-to-bridge-the-gap-between-demand-and-supply-in-web-development-faced-with-the-challenge-of-finding-skilled-developers-for-our-projects-we-decided-to-take-matters-into-our-own-hands-by-offering-comprehensive-web-development-courses-4EK {
  width: 169.4rem;
  height: 21.5rem;
  position: absolute;
  left: 11.3rem;
  top: 16.5rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2285714286;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .our-agenda-Skf {
  width: 42.5rem;
  height: 8.6rem;
  position: absolute;
  left: 73.9rem;
  top: 4.3rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #2194f3;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .our-agenda-Skf .our-agenda-Skf-sub-0 {
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .our-agenda-Skf .our-agenda-Skf-sub-1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ilr5-STq .group-1-BwD .rectangle-13-oUj {
  width: 172.8rem;
  height: 0.3rem;
  position: absolute;
  left: 9.6rem;
  top: 35.1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4799999893);
  border-radius: 0.5rem;
}
.slide-16-9-1-guV .auto-group-ilr5-STq .rectangle-12-ha7 {
  width: 172.8rem;
  height: 0.3rem;
  position: absolute;
  left: 9.6rem;
  top: 0;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.4799999893);
  border-radius: 0.5rem;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT {
  box-sizing: border-box;
  padding-top: 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV {
  margin: 0rem 9.6rem 1.1rem 9.6rem;
  width: calc(100% - 19.2rem);
  height: 84.2rem;
  position: relative;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .colleagues-discussing-the-project-TSo {
  width: 85.2rem;
  height: 84.2rem;
  position: relative;
  left: 87.6rem;
  top: 0;
  background-size: 106.717% 63.049%;
  background-position: -0rem 15.5565rem;
  background-image: url('../assets/colleagues-discussing-the-project.png');
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .real-world-project-experience-YDM {
  width: 107.4rem;
  height: 8.6rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #2194f3;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .real-world-project-experience-YDM .real-world-project-experience-YDM-sub-0 {
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .real-world-project-experience-YDM .real-world-project-experience-YDM-sub-1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .ok-VXu {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  left: 2.6rem;
  top: 19.8rem;
  object-fit: contain;
  vertical-align: top;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .ok-RwM {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  left: 2.6rem;
  top: 32.6rem;
  object-fit: contain;
  vertical-align: top;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .ok-yT5 {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  left: 2.6rem;
  top: 45.4rem;
  object-fit: contain;
  vertical-align: top;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .ok-Whu {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  left: 2.6rem;
  top: 58.2rem;
  object-fit: contain;
  vertical-align: top;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .gain-hands-on-experience-with-industry-relevant-projects-rmm {
  width: 70.8rem;
  height: 8.6rem;
  position: absolute;
  left: 12.2rem;
  top: 19.8rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2285714286;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .apply-your-newly-acquired-skills-to-solve-real-world-challenges-xZu {
  width: 71.8rem;
  height: 8.6rem;
  position: absolute;
  left: 12.2rem;
  top: 32.6rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2285714286;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .receive-feedback-and-guidance-from-industry-experts-as-you-work-on-projects-GKh {
  width: 71.7rem;
  height: 8.6rem;
  position: absolute;
  left: 12.2rem;
  top: 45.4rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2285714286;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .auto-group-knns-kHV .collaborate-with-peers-and-mentors-to-develop-practical-solutions-xiK {
  width: 68.2rem;
  height: 8.6rem;
  position: absolute;
  left: 12.2rem;
  top: 58.2rem;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2285714286;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .tools-covered-StP {
  margin: 0rem 1.8rem 7.1rem 0rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #2194f3;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .tools-covered-StP .tools-covered-StP-sub-0 {
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .tools-covered-StP .tools-covered-StP-sub-1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2285714286;
  text-decoration-line: underline;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .image-11-EJT {
  margin: 0rem 1.003rem 11.2rem 0rem;
  width: 171.7965rem;
  height: 77.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET {
  margin-right: 1.2rem;
  width: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h {
  box-sizing: border-box;
  padding: 0rem 14.4rem 9rem 16.15rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h .so-are-you-prepared-to-enter-the-tech-industry-and-establish-a-fulfilling-career-by-mastering-the-craft-of-web-development-2k7 {
  margin: 0rem 1.75rem 5rem 0rem;
  max-width: 159.7rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.45;
  color: #4d4d4d;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h .auto-group-dzm1-tGX {
  margin: 0rem 0rem 4rem 51.85rem;
  width: calc(100% - 51.85rem);
  height: 10.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h .auto-group-dzm1-tGX .auto-group-b7xd-bwd {
  margin-right: 2.4rem;
  width: 56rem;
  height: 100%;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.45;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.6rem 1rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #2194f3;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h .auto-group-dzm1-tGX .navigate-this-button-to-formenroll-now-section-G2B {
  margin-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.45;
  color: rgba(77, 77, 77, 0.4300000072);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-gbxv-u9h .so-i-can-get-a-well-paying-it-job-under-6-months-ZX5 {
  margin-right: 0.75rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.45;
  color: #de3163;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-lf3m-GwH {
  box-sizing: border-box;
  padding: 2.3rem 67.5rem 14.8rem 67.4rem;
  width: 100%;
  height: 32.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #263238;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-lf3m-GwH .goo-businesses-2-C4F {
  margin: 0rem 0rem 3.5rem 0.1rem;
  width: 16.4rem;
  height: 8.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.slide-16-9-1-guV .auto-group-ncn3-DYT .footer-xET .auto-group-lf3m-GwH .barakaimari-coochbehar-west-bengal-india-Wqd {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.45;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
